*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
}
{@media (max-width:768px)
    {body{font-size: 14px;}}
}
body{
    line-height: 1.6;
    background-color: rgb(0, 0, 0);
}
a{
    text-decoration: none;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0;
    transition: 0.3s;
}
header{
    display: flex;
    background-attachment: fixed;
    padding: 30px;
    backdrop-filter: blur(10px);
    position: fixed;
   
    }
nav {
    display: flex;
    list-style: none;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 600px;
    margin-left:300px;
    padding: 20px;
    text-decoration: none;
}
nav ul li{
    
    color:rgb(123, 15, 15);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-style: italic;
}
nav a{
    color: #0072ff;
}
nav a:hover{
    color: #00e5ff;
    font-weight: 900;
}

.logo img {
width: 90px;
height: 35px;
}
.logo {
        margin-top: 10px;
        margin-left: 20px;
    }

.one {
    background-image:url(images/logo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.514);
    height: 100vh;
    text-align: center;
    font-size: 135%;
    width: 100%;
    top: 0px;
    line-height: 3rem;
    align-items: center;
    justify-content: center;
    background-position: center center;
    overflow: hidden;
    text-decoration: none;
    border-bottom: 1px solid rgba(136, 136, 136, 0.435);
    animation: 2s ease 0s 1 normal none running fadein;
}
.Hod {
    align-items: center;
    height: 100vh;
    margin: 10rem 2rem 4rem 2rem;
    justify-content: center;
    /* margin-top: 6rem; */
}
.p1{
    color: #0072ff;
    text-shadow: 0 0 4px #0ff;
}
h1 {
    margin-top: 3rem;
    background: linear-gradient(to right, #4ca1fb, rgb(236, 242, 255), #4ca1fb, rgb(236, 242, 255), #2f8ff5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 300%;
    line-height: 5rem;
    font-family: 'Times New Roman', Times, serif;
}
.one p,  {
    color:rgb(12, 79, 79);
}
span{
    color:#0072ff; ;
}
.btn {
    margin-top: 70px;
    font-size: 20px;
    padding: 15px 40px;
    border: 2px solid #0ff;
    color: #0ff;
    text-transform: uppercase;
    background: #0ff;
    cursor: pointer;
   
    
}
.btn:hover{
    color: #000;
    background: #0ff;
    box-shadow: 0 0 20px #0ff, 0 0 40px #0ff;
}
.abt {
    background-size: cover;
    background-attachment: fixed;
    margin-top: 200pxx;
    border-top: 1px solid rgb(140, 140, 154);
}
.me {
    background-image:url(images/pfms.jpg) ;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.stb {
    text-align: center;
    padding: 30px;
    color: aliceblue;
    margin-top: 500px;
    border:3px solid rgb(140, 140, 154) ;
    border-radius: 10px;
    padding: 30px;
}
.phil{
    text-align: center;
    text-decoration: solid;
    padding: 20px;
    color: aliceblue;
    border:2px solid  rgba(38, 172, 255, 0.741);
    border-radius:10px ;
    margin: 30px;

}
.Contact{
    max-width: 800px;
    margin: auto;
    padding: 60px 20px;
    margin-top: 300px;
    border-top: 3px solid rgb(140, 140, 154);
}

.b{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.c{
    
    background-color: aliceblue;
    padding: 39px;
    border-radius: 20px;
    border: 3px solid  rgb(38, 172, 255, 0.741);
}
.c:hover{
    box-shadow:0 0 20px #0ff, 0 0 40px #0ff;
    box-shadow: 0 0 20px rgb(38, 172, 255, 0.741), 0 0 40px rgb(38, 172, 255, 0.741);
}


.c label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #00e5ff;
}

.c input, 
.c textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15%;
    border: 1px solid white;
    border-radius: 5px;
}
h4{
    color: #00e5ff;
}

.c button{
    background: rgb(0, 17, 255);
    color: aliceblue;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    

}

.d{
    flex: 0.8;
    padding: 20px;
    color: aliceblue;
}


.Portfolio {
    justify-content: center;
    margin-top: 500px;
}

.al-pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    text-align: justify;
    align-self: center;
    box-sizing: border-box;
    border:2px solid  rgba(38, 172, 255, 0.741);
    border-radius:10px ;
}
.ch1{
    text-align: center;
    text-decoration: underline;
}
.gd{
    color:#00e5ff;
    text-align: center;
    text-transform: capitalize;
    
}

.box1{
    margin: 20px 20px 20px 20px ;
    border: #0072ff;
}
.box2{ margin: 20px 20px 20px 20px ;}

.box3{
    margin: 20px 20px 20px 20px ;
}.box4{
    margin: 20px 20px 20px 20px ;
}
.box5{
    margin: 20px 20px 20px 20px ;
}
.box6{
    margin: 20px 20px 20px 20px ;
}


footer{
    text-align: left;
    color: aliceblue;
    font-size: 1rem;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.173), transparent, rgba(255, 255, 255, 0.094));
    border-color: rgba(214, 214, 214, 0.596);
    border-style:solid ;
    margin-top: 300px ;
    justify-content: space-between;
    display: flex;
    margin-right: 900px;
    width: 900px;
    padding: 30px;

}







